<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="node_modules\angular\angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    
    <script type="text/javascript" src="component/uno/module.js"></script>
    <script type="text/javascript" src="component/uno/controller/uno.js"></script>

    <script type="text/javascript" src="component/dos/module.js"></script>
    <script type="text/javascript" src="component/dos/controller/dos.js"></script>
    
    
    <script type="text/javascript" src="component/view-data/module.js"></script>
    <script type="text/javascript" src="component/view-data/controller/view-data.js"></script>

    <script type="text/javascript" src="services/redux.js"></script>
  </head>
  <body ng-app="app">
    <div ng-controller="UnoCrtl as vm">
      <div style="float:left;margin:1%;">
        <h3>Componente para sumar</h3>
        <button ng-click="vm.sumarUno()">Click para sumar uno</button>  
      </div>
    </div>
    <div ng-controller="DosCrtl as vm">
      <div style="float:left;margin:1%;">
        <h3>Componente para restar</h3>
        <button ng-click="vm.restarUno()">Click para restar uno</button>
      </div>
    <div>
    <div ng-controller="viewData as vm">
      <div style="float:left;width:100%;margin:1%;">
        <hr>
        <hr>
        <h3>Estado del modelo de datos</h3>
        {{vm.state}}
      </div>
    </div>
  </body>
</html>