<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="node_modules\angular\angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller/Home.js"></script>
    <script type="text/javascript" src="services/redux.js"></script>
  </head>
  <body ng-app="app">
    <div ng-controller="HomeCtrl as vm">
        {{vm.state}}
        <hr/>
        <br>
        <h3>Dispacth eventos en nombre</h3>
        <div style="float:left">
          <button ng-click="vm.dispatchName('Alberto González')">Change Name "alberto"</button>
          <button ng-click="vm.dispatchName('Pepito Grillo')">Change Name "pepito grillo"</button>
          <h3>Dispacth eventos en adjetivos</h3>
          <button ng-click="vm.dispatchAdj('Mola mucho')">Change Adj "Mola mucho"</button>
          <button ng-click="vm.dispatchAdj('Impresionante')">Change Adj "Es Impresionante"</button>
        </div>
        <!--
        <div style="border-left:solid 2px black;heigth:300px;float:left">
          <button ng-disabled ng-click="vm.addReducer()">Add reducer</button>   
        </div>
        -->
    </div>
  </body>
</html>